In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

from sqlalchemy.orm import create_session
from sqlalchemy import *

### Store CSV into DataFrame

In [2]:
SP500 = "./Resources/^GSPC.csv"
stock_df = pd.read_csv(SP500)
stock_df = stock_df[["Date", "Open", "Adj Close", "Volume"]]
stock_df.head()

         Date         Open    Adj Close      Volume
0  2017-10-25  2566.520020  2557.149902  3874510000
1  2017-10-26  2560.080078  2560.399902  3869050000
2  2017-10-27  2570.260010  2581.070068  3887110000
3  2017-10-30  2577.750000  2572.830078  3658870000
4  2017-10-31  2575.989990  2575.260010  3827230000

### Clean DataFrame

In [3]:
stock_df = stock_df.loc[:,['Date','Open','Adj Close','Volume']]
stock_df['Stock_Returns'] = stock_df['Adj Close'].pct_change().fillna(0) * 100
stock_df = stock_df.rename(columns={'Volume':'Stock_Volume','Open':'Stock_Open', 'Adj Close':'Stock_Close'})

In [4]:
stock_df["Stock_Open"] = stock_df["Stock_Open"].map('${:,.2f}'.format)
stock_df["Stock_Close"] = stock_df["Stock_Close"].map('${:,.2f}'.format)
stock_df['Stock_Volume'] = stock_df.apply(lambda x: "{:,}".format(x['Stock_Volume']), axis=1)
stock_df["Stock_Returns"] = stock_df["Stock_Returns"].map('{0:.2f}%'.format)
stock_df.head()

         Date Stock_Open Stock_Close   Stock_Volume Stock_Returns
0  2017-10-25  $2,566.52   $2,557.15  3,874,510,000         0.00%
1  2017-10-26  $2,560.08   $2,560.40  3,869,050,000         0.13%
2  2017-10-27  $2,570.26   $2,581.07  3,887,110,000         0.81%
3  2017-10-30  $2,577.75   $2,572.83  3,658,870,000        -0.32%
4  2017-10-31  $2,575.99   $2,575.26  3,827,230,000         0.09%

### Store 2nd CSV data into a DataFrame

In [5]:
FUT = "./Resources/CHRIS-CME_SP1.csv"
future_df = pd.read_csv(FUT)
future_df = future_df[["Date", "Open", "Settle", "Volume"]]
future_df.head()

         Date    Open  Settle  Volume
0  2018-10-29  2667.4  2643.6  3911.0
1  2018-10-26  2675.0  2669.6  3207.0
2  2018-10-25  2668.3  2688.2  3972.0
3  2018-10-24  2742.1  2664.3  4307.0
4  2018-10-23  2753.0  2746.2  1700.0

### Clean DataFrame

In [6]:
future_df = future_df.loc[:,['Date','Open','Settle', 'Volume']].sort_values('Date',ascending=True).set_index('Date')
future_df['Futures_Returns'] = future_df['Settle'].pct_change().fillna(0) * 100
future_df = future_df.ix['2017-10-25':'2018-10-25'].reset_index()
future_df = future_df.rename(columns={'Volume':'Futures_Volume', 'Open':'Futures_Open', 'Settle':'Futures_Settle'})

/Users/tewarishishir/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
future_df["Futures_Open"] = future_df["Futures_Open"].map('${:,.2f}'.format)
future_df["Futures_Settle"] = future_df["Futures_Settle"].map('${:,.2f}'.format)
future_df['Futures_Volume'] = future_df.apply(lambda x: "{:,}".format(x['Futures_Volume']), axis=1)
future_df["Futures_Returns"] = future_df["Futures_Returns"].map('{0:.2f}%'.format)
future_df.head()

         Date Futures_Open Futures_Settle Futures_Volume Futures_Returns
0  2017-10-25    $2,566.30      $2,558.50        4,654.0          -0.34%
1  2017-10-26    $2,558.70      $2,561.60        5,558.0           0.12%
2  2017-10-27    $2,559.00      $2,578.40        3,531.0           0.66%
3  2017-10-30    $2,575.00      $2,568.30        1,787.0          -0.39%
4  2017-10-31    $2,567.20      $2,572.70          898.0           0.17%

### Connect to local database

In [15]:
instance_engine = create_engine("mysql://root:usa1234@127.0.0.1:3306")
#instance_engine.execute("DROP DATABASE etl_db") #drop db
instance_engine.execute("CREATE DATABASE IF NOT EXISTS etl_db") #create db
instance_engine.execute("USE etl_db")
engine = create_engine("mysql://root:usa1234@127.0.0.1:3306/etl_db")

### Create Tables

In [16]:
metadata = MetaData(engine)
stocks = Table('stocks', metadata,
    Column('Date', Date, primary_key=True),
    Column('Stock_Open', String(40)),
    Column('Stock_Close', String(40)),
    Column('Stock_Volume', String(40)),
    Column('Stock_Returns', String(40)),
)
stocks.create()

futures = Table('futures', metadata,
    Column('Date', Date, primary_key=True),
    Column('Futures_Open', String(40)),
    Column('Futures_Settle', String(40)),
    Column('Futures_Volume', String(40)),
    Column('Futures_Returns', String(40)),
)
futures.create()

### Use pandas to load csv converted DataFrame into database

In [17]:
stock_df.to_sql(name='stocks', con=engine, if_exists='replace', schema = 'etl_db')
future_df.to_sql(name='futures', con=engine, if_exists='replace', schema = 'etl_db')

### Check for tables

In [18]:
tables = engine.execute("SELECT table_name FROM information_schema.tables where table_schema = 'etl_db';").fetchall()
for table in tables:
    print('Table Name - ' + table[0])
    print(' Row Count - ' + str(engine.execute("SELECT count(*) FROM futures;").fetchall()[0][0]))

Table Name - futures
 Row Count - 253
Table Name - stocks
 Row Count - 253

### Confirm data has been added by querying the stocks table

* NOTE: can also check using pgAdmin

In [19]:
pd.read_sql_query('select * from stocks', con=engine).head()

   index        Date Stock_Open Stock_Close   Stock_Volume Stock_Returns
0      0  2017-10-25  $2,566.52   $2,557.15  3,874,510,000         0.00%
1      1  2017-10-26  $2,560.08   $2,560.40  3,869,050,000         0.13%
2      2  2017-10-27  $2,570.26   $2,581.07  3,887,110,000         0.81%
3      3  2017-10-30  $2,577.75   $2,572.83  3,658,870,000        -0.32%
4      4  2017-10-31  $2,575.99   $2,575.26  3,827,230,000         0.09%

### Confirm data has been added by querying the futures table

In [20]:
pd.read_sql_query('select * from futures', con=engine).head()

,index,Date,Futures_Open,Futures_Settle,Futures_Volume,Futures_Returns
0,0,2017-10-25,"$2,566.30","$2,558.50","4,654.0",-0.34%
1,1,2017-10-26,"$2,558.70","$2,561.60","5,558.0",0.12%
2,2,2017-10-27,"$2,559.00","$2,578.40","3,531.0",0.66%
3,3,2017-10-30,"$2,575.00","$2,568.30","1,787.0",-0.39%
4,4,2017-10-31,"$2,567.20","$2,572.70",898.0,0.17%

### Merged Tables

In [21]:
session = Session(engine)
sel = [stocks.c.Date, stocks.c.Stock_Open, stocks.c.Stock_Close, stocks.c.Stock_Volume, stocks.c.Stock_Returns, 
      futures.c.Futures_Open, futures.c.Futures_Settle, futures.c.Futures_Volume, futures.c.Futures_Returns]
same_sporder = pd.DataFrame(session.query(*sel).filter(stocks.c.Date == futures.c.Date).all())
same_sporder

,Date,Stock_Open,Stock_Close,Stock_Volume,Stock_Returns,Futures_Open,Futures_Settle,Futures_Volume,Futures_Returns
0,2017-10-25,"$2,566.52","$2,557.15","3,874,510,000",0.00%,"$2,566.30","$2,558.50","4,654.0",-0.34%
1,2017-10-26,"$2,560.08","$2,560.40","3,869,050,000",0.13%,"$2,558.70","$2,561.60","5,558.0",0.12%
2,2017-10-27,"$2,570.26","$2,581.07","3,887,110,000",0.81%,"$2,559.00","$2,578.40","3,531.0",0.66%
3,2017-10-30,"$2,577.75","$2,572.83","3,658,870,000",-0.32%,"$2,575.00","$2,568.30","1,787.0",-0.39%
4,2017-10-31,"$2,575.99","$2,575.26","3,827,230,000",0.09%,"$2,567.20","$2,572.70",898.0,0.17%
5,2017-11-01,"$2,583.21","$2,579.36","3,813,180,000",0.16%,"$2,573.10","$2,574.80","2,289.0",0.08%
6,2017-11-02,"$2,579.46","$2,579.85","4,048,270,000",0.02%,"$2,571.90","$2,576.70","1,739.0",0.07%
7,2017-11-03,"$2,581.93","$2,587.84","3,567,710,000",0.31%,"$2,577.00","$2,582.70","1,594.0",0.23%
8,2017-11-06,"$2,587.47","$2,591.13","3,539,080,000",0.13%,"$2,581.30","$2,588.70","5,922.0",0.23%
9,2017-11-07,"$2,592.11","$2,590.64","3,809,650,000",-0.02%,"$2,588.20","$2,586.80","1,004.0",-0.07%
10,2017-11-08,"$2,588.71","$2,594.38","3,899,360,000",0.14%,"$2,582.20","$2,590.90","2,368.0",0.16%
11,2017-11-09,"$2,584.00","$2,584.62","3,831,610,000",-0.38%,"$2,590.90","$2,583.90","3,897.0",-0.27%
12,2017-11-10,"$2,580.18","$2,582.30","3,486,910,000",-0.09%,"$2,582.80","$2,579.60","2,473.0",-0.17%
13,2017-11-13,"$2,576.53","$2,584.84","3,402,930,000",0.10%,"$2,581.40","$2,581.90","1,667.0",0.09%
14,2017-11-14,"$2,577.75","$2,578.87","3,641,760,000",-0.23%,"$2,581.30","$2,577.90","1,546.0",-0.15%
15,2017-11-15,"$2,569.45","$2,564.62","3,558,890,000",-0.55%,"$2,572.00","$2,565.10","3,273.0",-0.50%
16,2017-11-16,"$2,572.95","$2,585.64","3,312,710,000",0.82%,"$2,564.30","$2,585.00","2,397.0",0.78%
17,2017-11-17,"$2,582.94","$2,578.85","3,300,160,000",-0.26%,"$2,582.20","$2,576.30","2,682.0",-0.34%
18,2017-11-20,"$2,579.49","$2,582.14","3,003,540,000",0.13%,"$2,574.40","$2,582.10","2,646.0",0.23%
19,2017-11-21,"$2,589.17","$2,599.03","3,332,720,000",0.65%,"$2,582.80","$2,596.30","3,064.0",0.55%
20,2017-11-22,"$2,600.31","$2,597.08","2,762,950,000",-0.08%,"$2,595.00","$2,594.60","4,163.0",-0.07%
21,2017-11-24,"$2,600.42","$2,602.42","1,349,780,000",0.21%,"$2,594.50","$2,601.00","1,397.0",0.25%
22,2017-11-27,"$2,602.66","$2,601.42","3,006,860,000",-0.04%,"$2,603.00","$2,601.80","3,038.0",0.03%
23,2017-11-28,"$2,605.94","$2,627.04","3,488,420,000",0.98%,"$2,601.00","$2,626.00","8,896.0",0.93%
24,2017-11-29,"$2,627.82","$2,626.07","4,078,280,000",-0.04%,"$2,625.60","$2,625.10","5,045.0",-0.03%
25,2017-11-30,"$2,633.93","$2,647.58","4,938,490,000",0.82%,"$2,625.00","$2,647.90","6,400.0",0.87%
26,2017-12-01,"$2,645.10","$2,642.22","3,942,320,000",-0.20%,"$2,641.90","$2,643.90","3,794.0",-0.15%
27,2017-12-04,"$2,657.19","$2,639.44","4,023,150,000",-0.11%,"$2,659.60","$2,638.20","3,789.0",-0.22%
28,2017-12-05,"$2,639.78","$2,629.57","3,539,040,000",-0.37%,"$2,637.00","$2,628.30","4,792.0",-0.38%
29,2017-12-06,"$2,626.24","$2,629.27","3,229,000,000",-0.01%,"$2,629.10","$2,629.20","7,773.0",0.03%
...,...,...,...,...,...,...,...,...,...
223,2018-09-14,"$2,906.38","$2,904.98","3,149,800,000",0.03%,"$2,907.50","$2,906.30","4,400.0",0.03%
224,2018-09-17,"$2,903.83","$2,888.80","2,947,760,000",-0.56%,"$2,904.00","$2,891.00","15,098.0",-0.53%
225,2018-09-18,"$2,890.74","$2,904.31","3,074,610,000",0.54%,"$2,892.50","$2,906.50","10,524.0",0.54%
226,2018-09-19,"$2,906.60","$2,907.95","3,280,020,000",0.13%,"$2,906.50","$2,909.90","3,680.0",0.12%
227,2018-09-20,"$2,919.73","$2,930.75","3,337,730,000",0.78%,"$2,931.00","$2,934.10","13,412.0",0.83%
228,2018-09-21,"$2,936.76","$2,929.67","5,607,610,000",-0.04%,$nan,"$2,940.45",0.0,0.22%
229,2018-09-24,"$2,921.83","$2,919.37","3,372,210,000",-0.35%,"$2,927.00","$2,925.40",231.0,-0.51%
230,2018-09-25,"$2,921.75","$2,915.56","3,285,480,000",-0.13%,"$2,926.20","$2,921.30","1,165.0",-0.14%
231,2018-09-26,"$2,916.98","$2,905.97","3,388,620,000",-0.33%,"$2,926.20","$2,911.50","1,346.0",-0.34%
232,2018-09-27,"$2,911.65","$2,914.00","3,060,850,000",0.28%,"$2,914.00","$2,919.90","1,020.0",0.29%
233,2018-09-28,"$2,910.03","$2,913.98","3,432,300,000",-0.00%,"$2,922.50","$2,919.00",742.0,-0.03%
234,2018-10-01,"$2,926.29","$2,924.59","3,364,190,000",0.36%,"$2,926.10","$2,930.10","1,150.0",0.38%
235,2018-10-02,"$2,923.80","$2,923.43","3,401,880,000",-0.04%,"$2,929.80","$2,928.50",689.0,-0.05%
236,2018-10-03,"$2,931.69","$2,925.51","3,598,710,000",0.07%,"$2,933.30","$2,931.60","4,077.0",0.11%
237,2018-10-04,"$2,919.35","$2,901.61","3,496,860,000",-0.82%,"$2,925.30","$2,907.70","3,788.0",-0.82%
238,2018-10-05,"$2,902.54","$2,885.57","3,328,980,000",-0.55%,"$2,913.50","$2,894.10","1,668.0",-0.47%
239,2018-10-08,"$2,877.53","$2,884.43","3,330,320,000",-0.04%,"$2,896.50","$2,893.70","1,851.0",-0.01%
240,2018-10-09,"$2,882.51","$2,880.34","3,520,500,000",-0.14%,"$2,890.00","$2,888.20","1,928.0",-0.19%
241,2018-10-10,"$2,873.90","$2,785.68","4,501,250,000",-3.29%,"$2,888.50","$2,781.10","9,130.0",-3.71%
242,2018-10-11,"$2,776.87","$2,728.37","4,890,630,000",-2.06%,"$2,776.00","$2,745.40","5,431.0",-1.28%
243,2018-10-12,"$2,770.54","$2,767.13","3,966,040,000",1.42%,"$2,751.60","$2,768.40","10,233.0",0.84%
244,2018-10-15,"$2,763.83","$2,750.79","3,300,140,000",-0.59%,"$2,764.60","$2,749.10","1,950.0",-0.70%
245,2018-10-16,"$2,767.05","$2,809.92","3,428,340,000",2.15%,"$2,747.10","$2,817.80","5,840.0",2.50%
246,2018-10-17,"$2,811.67","$2,809.21","3,321,710,000",-0.03%,"$2,817.20","$2,816.20","1,543.0",-0.06%
247,2018-10-18,"$2,802.00","$2,768.78","3,616,440,000",-1.44%,"$2,810.00","$2,772.20","3,120.0",-1.56%
248,2018-10-19,"$2,775.66","$2,767.78","3,566,490,000",-0.04%,"$2,773.40","$2,767.50","2,007.0",-0.17%
249,2018-10-22,"$2,773.94","$2,755.88","3,307,140,000",-0.43%,"$2,760.80","$2,756.50","1,053.0",-0.40%
250,2018-10-23,"$2,721.03","$2,740.69","4,348,580,000",-0.55%,"$2,753.00","$2,746.20","1,700.0",-0.37%
251,2018-10-24,"$2,737.87","$2,656.10","4,709,310,000",-3.09%,"$2,742.10","$2,664.30","4,307.0",-2.98%
252,2018-10-25,"$2,674.88","$2,705.57","4,634,770,000",1.86%,"$2,668.30","$2,688.20","3,972.0",0.90%