In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
SP500 = "Resources\^GSPC.csv"
stock_df = pd.read_csv(SP500)
stock_df = stock_df[["Date", "Open", "Adj Close", "Volume"]]
stock_df.head()

         Date         Open    Adj Close      Volume
0  2017-10-25  2566.520020  2557.149902  3874510000
1  2017-10-26  2560.080078  2560.399902  3869050000
2  2017-10-27  2570.260010  2581.070068  3887110000
3  2017-10-30  2577.750000  2572.830078  3658870000
4  2017-10-31  2575.989990  2575.260010  3827230000

### Clean DataFrame

In [3]:
stock_df = stock_df.loc[:,['Date','Open','Adj Close','Volume']]
stock_df['Stock_Returns'] = stock_df['Adj Close'].pct_change().fillna(0) * 100
stock_df = stock_df.rename(columns={'Volume':'Stock_Volume','Open':'Stock_Open', 'Adj Close':'Stock_Close'})

In [4]:
stock_df["Stock_Open"] = stock_df["Stock_Open"].map('${:,.2f}'.format)
stock_df["Stock_Close"] = stock_df["Stock_Close"].map('${:,.2f}'.format)
stock_df['Stock_Volume'] = stock_df.apply(lambda x: "{:,}".format(x['Stock_Volume']), axis=1)
stock_df["Stock_Returns"] = stock_df["Stock_Returns"].map('{0:.2f}%'.format)
stock_df.head()

         Date Stock_Open Stock_Close   Stock_Volume Stock_Returns
0  2017-10-25  $2,566.52   $2,557.15  3,874,510,000         0.00%
1  2017-10-26  $2,560.08   $2,560.40  3,869,050,000         0.13%
2  2017-10-27  $2,570.26   $2,581.07  3,887,110,000         0.81%
3  2017-10-30  $2,577.75   $2,572.83  3,658,870,000        -0.32%
4  2017-10-31  $2,575.99   $2,575.26  3,827,230,000         0.09%

### Store 2nd CSV data into a DataFrame

In [5]:
FUT = "Resources\CHRIS-CME_SP1.csv"
future_df = pd.read_csv(FUT)
future_df = future_df[["Date", "Open", "Settle", "Volume"]]
future_df.head()

         Date    Open  Settle  Volume
0  2018-10-29  2667.4  2643.6  3911.0
1  2018-10-26  2675.0  2669.6  3207.0
2  2018-10-25  2668.3  2688.2  3972.0
3  2018-10-24  2742.1  2664.3  4307.0
4  2018-10-23  2753.0  2746.2  1700.0

### Clean DataFrame

In [6]:
future_df = future_df.loc[:,['Date','Open','Settle', 'Volume']].sort_values('Date',ascending=True).set_index('Date')
future_df['Futures_Returns'] = future_df['Settle'].pct_change().fillna(0) * 100
future_df = future_df.ix['2017-10-25':'2018-10-25'].reset_index()
future_df = future_df.rename(columns={'Volume':'Futures_Volume', 'Open':'Futures_Open', 'Settle':'Futures_Settle'})

C:\Users\Pankaj\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
future_df["Futures_Open"] = future_df["Futures_Open"].map('${:,.2f}'.format)
future_df["Futures_Settle"] = future_df["Futures_Settle"].map('${:,.2f}'.format)
future_df['Futures_Volume'] = future_df.apply(lambda x: "{:,}".format(x['Futures_Volume']), axis=1)
future_df["Futures_Returns"] = future_df["Futures_Returns"].map('{0:.2f}%'.format)
future_df.head()

         Date Futures_Open Futures_Settle Futures_Volume Futures_Returns
0  2017-10-25    $2,566.30      $2,558.50        4,654.0          -0.34%
1  2017-10-26    $2,558.70      $2,561.60        5,558.0           0.12%
2  2017-10-27    $2,559.00      $2,578.40        3,531.0           0.66%
3  2017-10-30    $2,575.00      $2,568.30        1,787.0          -0.39%
4  2017-10-31    $2,567.20      $2,572.70          898.0           0.17%

### Connect to local database

In [ ]:
rds_connection_string = "<inser user name>:<insert password>@127.0.0.1/etl_db"
engine = create_engine(f'mysql://{rds_connection_string}')

### Check for tables

In [ ]:
engine.table_names()

### Use pandas to load csv converted DataFrame into database

In [ ]:
etl_db.to_sql(name='stocks', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [ ]:
etl_db.to_sql(name='futures', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_location table

* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from stocks', con=engine).head()

### Confirm data has been added by querying the customer_location table

In [ ]:
pd.read_sql_query('select * from futures', con=engine).head()

In [ ]:
"""
MERGE TABLES
OUTPUT THEM HERE
"""